*.swp
*.pyc
*.swo
*.pyo
.tox
*.egg-info
*_db
.#*
\#*
*~
.sass-cache
static/scss/*.css
storage
media
dist
.noseids
.DS_Store
ve
.idea
.project
.pydevproject
.ropeproject
.settings
*.sublime-project
*.sublime-workspace
log
*.db
chromedriver.log
docs/_build
docs/javascript
docs/python
.coverage
node_modules
npm-debug.log
.RData
.Rhistory
TAGS
TODO
work
serverconf/solr/conf/_rest_managed.json
secret
build
cache