*.swp
*.pyc
*.swo
*.pyo
.tox
*.egg-info
*_db
.#*
\#*
*~
.sass-cache
static/scss/*.css
storage
media
dist
.noseids
.DS_Store
ve
.idea
.project
.pydevproject
.ropeproject
.settings
*.sublime-project
*.sublime-workspace
log
*.db
chromedriver.log
docs/_build
docs/javascript
docs/python
heron/local.py
heron/_local_tests.py
heron/_local_qunit_settings.py
heron/templates/nest/includes/timestamp.html
.magpie.cookies
.heron_qunit.db
heron_qunit
.coverage
node_modules
npm-debug.log
.RData
.Rhistory
TAGS
TODO
work
serverconf/solr/conf/_rest_managed.json
