<html>
  <head>
    <title>Wide landscape</title>
    <link rel="stylesheet" href="styles.css"></link>
    <style>
       h1 {
         font-size: 100pt;
         prince-bookmark-level: 1;
         color:white;
         }
         body {
           font-family: "Georgia";
           }
           a { color: black }
    </style>
  </head>
  <body>
    <div id="debug">Credits</div>
    <h1>Credits</h1>
    <p>A nonsense book based on the Voynich Manuscript, generated for <a href="https://github.com/dariusk/NaNoGenMo-2014">NaNoGenMo 2014</a>. NaNoGenMo is a project by Darius Kazemi.</p>
    <p>Entry by Liza Daly (http://lizadaly.com)</p>
    <p>Source code is <a href="https://github.com/lizadaly/projects/nanogenmo2014">available</a>. </p>
    <p>Images courtesy the <a href="http://blog.flickr.net/2014/08/29/welcome-the-internet-archive-to-the-commons/">Internet Archive on Flickr Commons</a>.</p>
    <p>Voynich font from the <a href="http://openfontlibrary.org/en/font/voynich">Open Font Library</a>.</p>
  </body>
</html>
