<html>
  <head>
    <title>Seraphs</title>
    <meta name="author" content="Liza Daly"/>
    <meta name="subject" content="An imaginary Voynich Manuscript for NaNoGenMo 2014"/>
    <meta name="keywords" content="imaginary, ebook, wtf"/>
    <meta name="date" content="2014-11-02"/>
    <link rel="stylesheet" href="styles.css"></link>
    <style>
      img {
        width: 100%;
        margin: auto;
        display: block;
      }
      @page {
         background-color: black;
         background-image: url({{ image.url }});
       }
       h1 {
         font-size: 100pt;
         color:white;
         bookmark-label: '{{ section|capitalize }}';
       }
    </style>
  </head>
  <body>
    <div id="debug">Folio cover - {{ section }}</div>
    <div style="height: 2in; width: 100%; position:absolute; bottom:0;">
      <h1>{{ word }}</h1>
    </div>
  </body>
</html>
