<html>
  <head>
    <title>Page</title>
    <link rel="stylesheet" href="styles.css"></link>
    <style>
      img {
      max-width: 3in;
      margin-right: 0;
        }
      @page {
        background: rgb{{ color }};
        }
        
    </style>
  </head>
  <body style="background: rgb{{ color }}">
    <div style="height: 7in; overflow:hidden; position:absolute; column-count: 2">
      <p>{% for word in words[0:70] %}
      {{ word }}
      {% endfor %}
      </p>
      <img src="{{ image.url }}" style=""/>
      <p>{% for word in words[100:200] %}
      {{ word }}
      {% endfor %}
      </p>
    </div>
  </body>
</html>
