<html>
  <head>
    <title>Wide landscape</title>
    <link rel="stylesheet" href="styles.css"></link>
    <style>
      img {
        max-height: 3in;
        max-width: 100%;
        margin: auto;
        display: block;
      }
      @page {
         background: rgb{{ color }};
      }
        
    </style>
  </head>
  <body style="background: rgb{{ color }}">
    <div id="debug">Wide landscape - {{ section }}</div>
    <div style="height: 2in; overflow:hidden;">
      <p>
        <span class="first">{{ words.0.0 }}</span>{{ words.0[1:] }}
        {% for word in words[1:70] %}
           {{ word }}
        {% endfor %}
      </p>
    </div
    <!-- Wide image at base -->
    <img src="{{ image.url }}" style=""/>
  </body>
</html>
