<html>
  <head>
    <title>Portrait </title>
    <link rel="stylesheet" href="styles.css"></link>
    <style>
      img {
        max-width: 3in;
        max-height: 3in;
        margin: auto;
        display: block;
      }
      @page {
         background: rgb{{ color }};
      }
        
    </style>
  </head>
  <body style="background: rgb{{ color }}">
    <div id="debug">Portrait 2-up - {{ section }}</div>
    <!-- Wide image at middle -->
 
    <div style="height: 8in; overflow:hidden; column-count: 2; column-width: 3in;">
      <p>
        <span class="first">{{ page_words.0.0 }}</span>{{ page_words.0[1:] }}
        {% for word in words[1:150] %}
           {{ word }}
        {% endfor %}
      </p>
      <img src="{{ image.url }}" style=""/>    
      <p>
        <span class="first">{{ para_words.0.0 }}</span>{{ para_words.0[1:] }}        
        {% for word in words[100:280] %}
          {{ word }}
        {% endfor %}
      </p>
    </div>

  </body>
</html>
