<html>
  <head>
    <title>Portrait </title>
    <link rel="stylesheet" href="styles.css"></link>
    <style>
      img {
        max-width: 4in;
        max-height: 4in;
        margin-right: 0;
        float: right;
      }
      @page {
         background: rgb{{ color }};
      }
        
    </style>
  </head>
  <body style="background: rgb{{ color }}">
    <div id="debug">Portrait - {{ section }}</div>
    <!-- Wide image at middle -->
    <a href="{{ image.src }}"><img src="{{ image.url }}" style=""/></a>

    <div style="height: 5in; overflow:hidden;">
      <p>
        <span class="first">{{ page_words.0.0 }}</span>{{ page_words.0[1:] }}
        {% for word in words[1:70] %}
           {{ word }}
        {% endfor %}
      </p>
      <p>
        {{ para_words.0 }} 
        {% for word in words[100:200] %}
          {{ word }}
        {% endfor %}
      </p>
    </div>

  </body>
</html>
