<html>
  <head>
    <title>Portrait </title>
    <link rel="stylesheet" href="styles.css"></link>
    <style>
      img {
        max-width: 3.5in;
        max-height: 4in;
        margin-right: .5in;
        float: left;
      }
      @page {
         background: rgb{{ color }};
      }
        
    </style>
  </head>
  <body style="background: rgb{{ color }}">
    <div id="debug">Portrait (image left) - {{ section }}</div>

    <img src="{{ image.url }}" style=""/>    

    <div style="height: 5in; overflow:hidden;">
      <p>
        <span class="first">{{ page_words.0.0 }}</span>{{ page_words.0[1:] }}
        {% for word in words[1:70] %}
           {{ word }}
        {% endfor %}
      </p>
      <p>
        {{ para_words.0 }}
        {% for word in words[100:125] %}
          {{ word }}
        {% endfor %}
      </p>
      <p>
        <span class="first">{{ para_words.1.0 }}</span>{{ para_words.1[1:] }}        
        {% for word in words[127:160] %}
          {{ word }}
        {% endfor %}
      </p>
    </div>

  </body>
</html>
