@page {
    size: 10in 8in;
    margin: 1in;
    @top {
        content: flow(debug);
    }
}

#debug {
    flow: static(debug);
    font-family: "Courier";
}
@font-face {
    font-family: "Voynich 123";
    src: url("file:///Users/liza/github/personal/nanogenmo/seraphs/resources/voynich-1.23-webfont.ttf");
}
body {
    margin:0;
    font-family: "Voynich 123";
    font-size: .2in;
    color: sienna;
}
img {
    margin: .25in;
}
.first {
    float: left;
    font-size: 30pt;
    line-height: 32pt;
}
h1 {
    bookmark-level: 1;
}
figcaption {
    font-size: 12pt;
}