@page {
  size: 10in 8in;
}

@font-face {
    font-family: "Voynich 123";
    src: url("file:///Users/liza/github/personal/nanogenmo/seraphs/resources/voynich-1.23-webfont.ttf");
}
body {
    width: 10in;
    height: 8in;
    font-family: "Voynich 123";
    font-size: .1in;
}
